.section-about {
  background-color: #{'hsl(var(--color-grey-light-1))'};
  padding: 45rem 0;

  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      #{'hsl(var(--primary-color-light), 0.8)'},
      #{'hsl(var(--primary-color-dark), 0.8)'}
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  background-position: center top;

  margin-top: -18rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
