.row {
  max-width: var(--grid-width); 
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: var(--gutter-vertical);
  }

  @include clearfix

  [class^="col-"] {
    float: left;

    background-color: red;

    &:not(:last-child) {
      margin-right: var(--gutter-horizontal);
    }
  }

  --col-1-of-2-width: (100% - var(--gutter-horizontal)) / 2;

  .col-1-of-2 {
    width: calc(var(--col-1-of-2-width));
  }

  --col-1-of-3-width: (100% - 2 * var(--gutter-horizontal)) / 3;

  .col-1-of-3 {
    width: calc(var(--col-1-of-3-width));
  }

  .col-2-of-3 {
    width: calc(2 * var(--col-1-of-3-width) + var(--gutter-horizontal));
  }

  --col-1-of-4-width: (100% - 3 * var(--gutter-horizontal)) / 4;

  .col-1-of-4 {
    width: calc(var(--col-1-of-4-width));
  }

  .col-2-of-4 {
    width: calc(2 * var(--col-1-of-4-width) + var(--gutter-horizontal));
  }

  .col-3-of-4 {
    width: calc(3 * var(--col-1-of-4-width) + 2 * var(--gutter-horizontal));
  }
}
