.feature-box {
  background-color: #{'hsl(var(--white))'};
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #{'hsl(var(--black), 0.2)'};
  transition: transform 0.3s;
  will-change: transform;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;

    display: inline-block;
    background-image: linear-gradient(
      to right,
      #{'hsl(var(--primary-color-light))'},
      #{'hsl(var(--primary-color-dark))'}
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
